nav {
  background-color: #2c3e50;
  height: 80px;
}
.nav-link.active {
  border-radius: 8px;
  background-color: #1abc9c;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.home {
  background-color: #1abc9c;
}
.line {
  height: 4px;
  width: 80px;
}
.home h2 {
  font-size: 40px;
}
footer {
  background-color: #2c3e50;
  justify-content: center;
  text-align: center;
  padding: 40px;
  margin: 0;
}
.copyright {
  background-color: #1a252f;
  padding: 30px;
}
.about {
  background-color: #1abc9c;
}
.portfolio {
  color: #2c3e50;
}
.portfolio .line {
  background-color: #2c3e50;
}
.layer {
  background-color: #1abc9ce6;
  opacity: 0;
  cursor: pointer;
  transition: 0.6s opacity;
}

.rounded-3.position-relative:hover .layer {
  opacity: 1;
}

.Contacts {
  color: #2c3e50;
}
.Contacts .line {
  background-color: #2c3e50;
}
.Contacts button {
    background-color: #1abc9c;
}
.field {
  position: relative;
}

.label {
  display: block;
  color: #1abc9c;
  font-size: 15px;
  margin-bottom: 6px;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.label.active {
  opacity: 1;
  transform: translateY(0);
}
